/* src/components/Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    padding: 20px;

}

.home-title {
    font-size: 3rem;
    font-weight: bold;
    color: #e06908; /* Dark red color */
    margin-bottom: 0px 20px;
    padding: 0px;
    text-align: center; /* Center the title */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .home-container {
        padding: 10px; /* Less padding on smaller screens */
    }

    .home-title {
        font-size: 24px; /* Smaller title on small screens */
    }
}
