/* src/components/Loadouts.css */

.loadout-container {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 20px auto;
}

.loadout-title {
    font-size: 28px;
    font-weight: bold;
    color: #b22222;
    text-align: center;
    margin-bottom: 20px;
}

.loadout-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
}

.loadout-item {
    position: relative;
}

.loadout-item img {
    width: 100%; /* Set desired width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 6px;
}
